@font-face {
  font-family: "iconfont"; /* Project id 809602 */
  src: url('iconfont.woff2?t=1620374329032') format('woff2'),
       url('iconfont.woff?t=1620374329032') format('woff'),
       url('iconfont.ttf?t=1620374329032') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-liebiao:before {
  content: "\e62a";
}

.icon-shezhi:before {
  content: "\e696";
}

.icon-yonghuguanli:before {
  content: "\e603";
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-tuichu:before {
  content: "\e656";
}

